:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--nav_height: 32px;
	--red_hue: 0;
	--green_hue: 120;
	--blue_hue: 210;
	--bg_color: #fff;
	--plain_color: #ccc;
	--blue_color: hsl(var(--blue_hue), 50%, 50%);
	--green_color: hsl(var(--green_hue), 45%, 55%);
	--green_text_color: hsl(var(--green_hue), 40%, 40%);
	--interactive_color: #ddd;
	--interactive_hover_color: #eee;
	--interactive_disabled_color: #f7f7f7;
	--interactive_active_color: #fff;
	--font_weight_dk: 900;
	--font_weight_md: 700;
	--font_weight_rg: 500;
	--font_weight_lt: 300;
	--font_weight_xlt: 100;
	--selected_color: var(--blue_color);
	--active_color: var(--green_color);
	--color_help: var(--green_color);
	--link_color_hue: var(--blue_hue);
	--link_color: hsl(var(--link_color_hue), 61%, 35%);
	--text_color: hsl(0, 10%, 16%);
	--text_disabled_color: hsl(0, 10%, 38%);
	--font_size_xxxxxl: 128px;
	--font_size_xxxxl: 96px;
	--font_size_xxxl: 64px;
	--font_size_xxl: 48px;
	--font_size_xl: 32px;
	--font_size_lg: 24px;
	--font_size_md: 20px;
	--font_size_rg: 16px;
	--spacing_xxxxxl: 128px;
	--spacing_xxxxl: 96px;
	--spacing_xxxl: 64px;
	--spacing_xxl: 48px;
	--spacing_xl: 32px;
	--spacing_lg: 20px;
	--spacing_md: 10px;
	--spacing_rg: 8px;
	--spacing_sm: 6px;
	--spacing_xs: 4px;
	--spacing_xxs: 2px;
	--spacing_xxxs: 1px;
	--column_width: 600px;
	--input_width_rg: 400px;
	--faded_rg: 62%;
	--faded_md: 38%;
	--faded_sm: 24%;
	--faded_xs: 15%;
	--border_plain_color: rgba(0, 0, 0, var(--faded_md));
	--border_light_color: rgba(0, 0, 0, var(--faded_sm));
	--border_lighter_color: rgba(0, 0, 0, var(--faded_xs));
	--border_active_color: var(--active_color);
	--border_width_lg: var(--spacing_sm);
	--border_width_md: var(--spacing_xs);
	--border_width_rg: var(--spacing_xxs);
	--border_width_sm: var(--spacing_xxxs);
	--border_style: solid;
	--border_accent_width: var(--spacing_sm);
	--border_accent_style: double;
	--border_accent2_style: dotted;
	--button_border_width: var(--border_width_rg);
	--button_border_style: solid;
	--button_border_disabled_style: dashed;
	--input_border_width: var(--button_border_width);
	--input_border_style: solid;
	--border_alert: var(--border_accent_width) var(--border_accent_style)
		hsla(var(--red_hue), 100%, 50%, var(--faded_md));
	--border_help: var(--border_accent_width) var(--border_accent_style)
		hsla(var(--green_hue), 100%, 25%, var(--faded_md));
	--border_plain: var(--border_accent_width) var(--border_accent_style)
		hsla(0, 0%, 80%, var(--border_plain_color));
	--button_border_color: var(--border_plain_color);
}

html,
body {
	height: 100%;
	background-color: var(--bg_color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

#svelte {
	height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--link_color);
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	z-index: 2;
	outline: var(--spacing_rg) var(--border_accent2_style) var(--interactive_hover_color);
}
a:focus,
a:focus:not(:disabled) {
	z-index: 1;
	outline: var(--spacing_rg) var(--border_accent2_style) var(--selected_color);
}
a:active:not(:disabled) {
	outline: var(--spacing_rg) var(--border_accent2_style) var(--active_color);
}

ul {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

h1,
h2,
h3 {
	font-weight: 300;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	font-size: var(--font_size_md);
	padding: var(--spacing_sm) var(--spacing_md);
	background: var(--interactive_color);
	border-width: var(--button_border_width);
	border-color: var(--button_border_color);
	border-style: var(--button_border_style);
}
button:hover {
	background: var(--interactive_hover_color);
}
button:active {
	background: var(--interactive_active_color);
}
button:disabled,
input:disabled,
textarea:disabled {
	opacity: 1; /* for some browsers */
	background: var(--interactive_disabled_color);
	color: var(--text_disabled_color);
	border-left-style: var(--button_border_disabled_style);
	border-right-style: var(--button_border_disabled_style);
}
button.selected {
	z-index: 1;
	border-color: var(--selected_color);
	border-left-style: var(--button_border_style);
	border-right-style: var(--button_border_style);
	color: var(--selected_color);
	outline: var(--spacing_rg) var(--border_accent_style) var(--interactive_hover_color);
	text-decoration: underline;
}

input,
textarea {
	-webkit-appearance: none;
	appearance: none;
	font-size: var(--font_size_md);
	padding: var(--input_padding_v, var(--spacing_sm)) var(--input_padding_h, var(--spacing_md));
	border-color: var(--button_border_color);
	border-style: var(--input_border_style);
	border-width: var(--input_border_width);
	width: var(--input_width_rg);
}

input[type='checkbox'] {
	position: relative;
	width: var(--spacing_xxl);
	height: var(--spacing_xxl);
	--input_padding_v: 0;
	--input_padding_h: 0;
	--outline_style: dotted;
}
input[type='checkbox']::before {
	content: var(--content, '•');
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: var(--overflow, visible);
	font-size: var(--font_size, var(--font_size_xxxl));
	color: var(--selected_color);
	line-height: 1;
}
input[type='checkbox']:checked::before {
	visibility: visible;
}

hr {
	border-top-width: var(--border_width_rg);
	border-bottom-width: var(--border_width_rg);
}

.buttonlike:hover:not(:disabled),
input:hover:not(:disabled),
textarea:hover:not(:disabled),
button:hover:not(:disabled) {
	z-index: 2;
	/* TODO refactor */
	outline: var(--outline_width, var(--spacing_rg)) var(--outline_style, var(--border_accent_style))
		var(--outline_color, var(--interactive_hover_color));
}

.buttonlike:focus,
.buttonlike:focus:not(:disabled),
.buttonlike:focus-within,
.buttonlike:focus-within:not(:disabled),
input:focus,
input:focus:not(:disabled),
textarea:focus,
textarea:focus:not(:disabled),
button:focus,
button:focus:not(:disabled) {
	z-index: 1;
	/* TODO refactor */
	outline: var(--outline_width, var(--spacing_rg)) var(--outline_style, var(--border_accent_style))
		var(--outline_color, var(--selected_color));
}

/* TODO I'm failing to get this selector to apply to make it so
when the user hits spacebar it turns the outline to the active color, like on a click
.buttonlike:focus-within(input:active:not(:disabled)),
 */
.buttonlike:active:not(:disabled),
.buttonlike:active:not(:disabled) input,
.buttonlike:active:not(:disabled) textarea,
.buttonlike:active:not(:disabled) button,
input:active:not(:disabled),
textarea:active:not(:disabled),
button:active:not(:disabled) {
	z-index: 2;
	--outline_width: var(--spacing_md);
	--outline_color: var(--active_color);
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacing_sm) var(--spacing_md);
}

blockquote {
	padding: var(--spacing_lg);
	border-left: var(--spacing_sm) solid var(--plain_color);
}
